{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello {{ app.user ? app.user.firstName : 'Guest' }}!</h1>
    {# <h2>You have ${{ app.user.hasWallet.usablebalance }}</h2> #}

    {% if app.user %}
        {% if app.user.hasWallet %}
            <h2>Your Wallet Details:</h2>
            <ul>
                <li>Total Balance: {{ app.user.hasWallet.totalbalance }}</li>
                <li>Crypto Balance: {{ app.user.hasWallet.cryptobalance }}</li>
                <li>Usable Balance: {{ app.user.hasWallet.usablebalance }}</li>
                <li>Bitcoin: {{ app.user.hasWallet.bitcoin }}</li>
                <li>Ethereum: {{ app.user.hasWallet.ethereum }}</li>
                <li>XRP: {{ app.user.hasWallet.xrp }}</li>
                <li>Cardano: {{ app.user.hasWallet.cardano }}</li>
                <li>Litecoin: {{ app.user.hasWallet.litecoin }}</li>
                <li>Bitcoin Cash: {{ app.user.hasWallet.bitcoincash }}</li>
                <li>Stellar: {{ app.user.hasWallet.stellar }}</li>
                <li>IOTA: {{ app.user.hasWallet.iota }}</li>
                <li>Dash: {{ app.user.hasWallet.dash }}</li>
                <li>NEM: {{ app.user.hasWallet.nem }}</li>
            </ul>
        {% else %}
            <p>You don't have a wallet yet. Please contact support to create one.</p>
        {% endif %}
    {% endif %}
    <div class="example-wrapper">
     <h1>Liste des Cryptos</h1>
     <h2>Mange les crypto</h2>
      {% if cryptoData is not empty %}
        <ul>
            {% for crypto in cryptoData %}
                <li>{{ crypto.name }} - {{ crypto.price }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No data available.</p>
    {% endif %}
</div>
{% endblock %}