{% extends 'base.html.twig' %}

    {% set totalCryptoBalance = 0 %}



    {% for crypto in cryptoData %}
            {% set walletAmount = attribute(app.user.hasWallet, crypto.name|lower|replace({' ': ''})) ?? 0 %}
            {% set totalCryptoBalance = totalCryptoBalance + (walletAmount * crypto.price) %}
    {% endfor %}

{% block body %}
    <h1>Hello {{ app.user ? app.user.firstName : 'Guest' }}!</h1>
    {# <h2>You have ${{ app.user.hasWallet.usablebalance }}</h2> #}

    {% if app.user %}
            <h2>Your Wallet Details:</h2>
            <h3>Mange ton solde dans la tronche :  ${{ totalCryptoBalance|number_format(3, '.', ',') }}</h3>

            <ul>
                <li>Total Balance: {{ app.user.hasWallet.totalbalance }}</li>
                <li>Argent d'achat: {{ app.user.hasWallet.usablebalance }}</li>
                <li>Crypto valeur d'achat : {{ app.user.hasWallet.cryptobalance }}</li>
                <li>Crypto valeur actuelle : ${{ totalCryptoBalance|number_format(3, '.', ',') }} </li>
                <li>Benef : {{ (totalCryptoBalance - app.user.hasWallet.cryptobalance ?: 1)|number_format(3, '.', ',') }}$ soit {{ ((totalCryptoBalance - app.user.hasWallet.cryptobalance ?: 1) / (app.user.hasWallet.cryptobalance ?: 1) * 100)|number_format(1, '.', ',') }}%</li>
                
<ul>
    {% for crypto in cryptoData %}
        {% set walletAmount = attribute(app.user.hasWallet, crypto.name|lower|replace({' ': ''})) ?? 0 %}
    <li>{{ crypto.name }}: ${{ (walletAmount * crypto.price)|number_format(3, '.', ',') }}</li>
    {% endfor %}
</ul>


</h1>
                
                    {# {% for crypto in cryptoData %}
                        {% set walletAmount = attribute(app.user.hasWallet, crypto.name|lower) ?? 0 %}
                        <li>{{ crypto.name }}: ${{ walletAmount * crypto.price }}</li>
                    {% endfor %} #}
                    {# <li>test : {% set dashCrypto = cryptoData|filter(c => c.symbol == 'BTC')|first %}
                        {{ attribute(app.user.hasWallet, dashCrypto.name|lower) * dashCrypto.price }}</li>
                 <ul> #}
                </ul>
            </ul>
    {% endif %}
    <div class="example-wrapper">
     <h1>Liste des Cryptos</h1>
      {% if cryptoData is not empty %}
        <ul>
            {% for crypto in cryptoData %}
                <li>{{ crypto.name }} - {{ crypto.price }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No data available.</p>
    {% endif %}
</div>
{% endblock %}
