{% extends 'base.html.twig' %}

        {% set totalCryptoBalance = 0 %}
        {% for crypto in cryptoData %}
            {% set walletAmount = attribute(wallet, crypto.name|lower|replace({' ': ''})) ?? 0 %}
            {% set totalCryptoBalance = totalCryptoBalance + (walletAmount * crypto.price)|number_format(3, '.', ',') %}
        {% endfor %}
        {% set profit = (totalCryptoBalance - wallet.cryptobalance ?: 0)|number_format(3, '.', ',') %}



{% block title %}Wallet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        .crypto-logo {
            max-width: 28px;
            max-height: 28px;
        }

        .crypto-item {
            display: flex;
            align-items: center;
        }

        .crypto-item img {
            margin-right: 5px;
        }

        .positive-change {
            color: #00B053;
        }

        .negative-change {
            color: #EB0A24; 
        }

        .btn-primary {
            background-color: var(--lightblue);
            color: white;
            border-color: var(--lightblue); 
        }

        .btn-primary:hover {
            background-color: var(--blue); 
            border-color: var(--blue); 
        }

         .btn-outline-primary {
            color: var(--lightblue);
            border-color: var(--lightblue); 
        }

        .btn-outline-primary:hover {
            background-color: var(--blue); 
            border-color: var(--blue); 
        }
    </style>
{% endblock %}

{% block body %}

<!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Dashboard</a></li>
            {% if is_granted('ROLE_ADMIN') %}<li class="breadcrumb-item"><a href="{{ path('app_wallet_index') }}">Wallet</a></li>{% endif %}
            <li class="breadcrumb-item active" aria-current="page">My Wallet</li>
        </ol>
    </nav>
    <div class="card" style="border-radius: 10px;">
    <div class="card-body">
        <div class="d-flex flex-column align-items-start text-center">
         <!-- Ligne supérieure -->
            <div class="d-flex justify-content-between align-items-center w-100 mb-3">
                <div>
                    <h4 class="card-title d-flex justify-content-between align-items-center">Total Crypto Balance : {{ totalCryptoBalance }}€</h4>
                </div>
                <a class="btn btn-primary ml-auto col-1" href="{{ path('app_transaction_buy') }}">Buy</a>
            </div>
            <!-- Ligne inférieure -->
            <div class="d-flex justify-content-between align-items-center w-100">
                <h7 class="{% if profit > 0 %}positive-change{% else %}negative-change{% endif %}">Profit : {{ profit }}</h7>
                <a class="btn btn-outline-primary ml-auto col-1" href="{{ path('app_transaction_sell') }}">Sell</a>
            </div>
        </div>
    </div>

    <div class="example-wrapper">
        {% if cryptoData is not empty %}
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">My Crypto</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for crypto in cryptoData %}
                            {% set walletAmount = attribute(wallet, crypto.name|lower|replace({' ': ''})) ?? 0 %}
                            {% if walletAmount > 0 %}
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center crypto-item">
                                            <img src="{{ crypto['iconUrl'] }}" alt="{{ crypto['name'] }}" class="crypto-logo mr-2">
                                            <span>{{ crypto['name'] }}</span>
                                            <span class="text-muted small ml-1">#{{ crypto['symbol'] }}</span>
                                        </div>
                                    </td>
                                    <td>{{ crypto['price']|number_format(3, '.', ',') }}€</td>
                                    <td>{{ walletAmount }}</td>
                                    <td>{{ (walletAmount * crypto.price)|number_format(3, '.', ',') }}€</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No data available.</p>
        {% endif %}
    </div>
{% endblock %}
