{{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.newPassword) }}

    <button type="submit">Update</button>
{{ form_end(form) }}
