{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
         .btn-primary {
            background-color: var(--lightblue);
            color: white;
            border-color: var(--lightblue);
        }

        .btn-primary:hover {
            background-color: var(--blue); 
            border-color: var(--blue);
        }

    </style>
{% endblock %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FistName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Wallet Id</th>
                <th>CryptoBalance</th>
                <th>UsableBalance</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if app.user == user or is_granted('ROLE_ADMIN') %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.hasWallet ? user.hasWallet.id }}</td>
                    <td>{{ user.hasWallet ? user.hasWallet.cryptobalance }}</td>
                    <td>{{ user.hasWallet ? user.hasWallet.usablebalance }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>
                        <a class="btn btn-primary ml-auto" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                        <a class="btn btn-primary ml-auto" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary ml-auto" href="{{ path('app_user_new') }}">Create User</a>
    {% endif %}

{% endblock %}
