{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Transaction History</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

<table class="table">
        <thead>
            <tr>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Id</th>
                <th>User ID</th>
            {% endif %}
                <th>Date</th>
                <th>Cryptocurrency</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Amount<th>
                {# <th>Actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            {% if is_granted('ROLE_ADMIN') or app.user.id == transaction.user.id %}
                <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.user.id }}</td>
                {% endif %}
                    <td>{{ transaction.date ? transaction.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <img src="{{ transaction.cryptocurrency.icon }}" alt="Logo de la cryptomonnaie" width="20" height="20">
                        {{ transaction.cryptocurrency.name }}
                    </td>                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.amount }}</td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
